{% extends 'base.html.twig' %}

{% block main %}
    <h1>Categories To Avoid</h1>
    <h4>"Take no part in the unfruitful works of darkness, but instead expose them."(Ephesians 5:11)</h4>
    <div class="container body-content">
        <div class="row">
            {% for categories in pagination %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <h2>" {{ categories.title }}"</h2>
                        </header>

                        <p>
                            {{ categories.summary }}
                        </p>
                        {% if(categories.image) %}
                        <img src="{{ asset('uploads/images/' ~ categories.image) }}" width="400" height="200" >
                        {% endif %}
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('category_view', {'id': categories.id}) }}">Read more &raquo;</a>
                            </div>
                            {#<div class="pull-right">#}
                                {#<a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id':quote.id}) }}">delete &raquo;</a>#}
                                {#<a class="btn btn-success btn-xs" href="{{ path('article_edit', {'id':quote.id}) }}">edit &raquo;</a>#}
                                {#<a class="btn btn-default btn-xs"#}
                                   {#href="{{ path('blog_index') }}">back &raquo;</a>#}
                            {#</div>#}
                        </footer>
                    </article>
                </div>

                <hr />

            {% endfor %}
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}
