{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Category: "{{ category.title }}"</h2>
                    </header>

                    <p>
                        Place: {{ category.meaning }}
                    </p>
                    <p>
                        Meaning: {{ category.meaning }}
                    </p>
                    <p>
                        {% if category.quotes is not empty %}
                            Quote(s):
                            {% for quote in category.quotes%}
                                <a href="{{ path('quote_view', {id: quote.id}) }}">  {{ quote.verse  }} </a>{{ quote.meaning }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if category.actors is not empty %}
                            Actors:
                            {% for actor in category.actors%}
                                <a href="{{ path('actor_view', {id: actor.id}) }}">  {{ actor.title  }} </a>{{ actor.meaning }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% if(category.image) %}
                        <img src="{{ asset('uploads/images/' ~ quote.image) }}" width="400" height="200" >
                    {% endif %}
                    {% if app.getUser().getId==category.author.id or app.getUser().isAdmin() %}

                    <p>
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="{{ path('category_delete', {'id':category.id}) }}">delete &raquo;</a>
                            <a class="btn btn-success btn-xs" href="{{ path('category_edit', {'id':category.id}) }}">edit &raquo;</a>
                            {% endif %}
                    <p>
                    <div>
                        <a class="btn btn-default btn-xs"
                           href="{{ path('blog_index') }}">back &raquo;</a>
                    </div>
                    </p>
                    </footer>
                </article>
            </div>

            <hr />
        </div>
    </div>


{% endblock %}