{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Category: "{{ category.title }}"</h2>
                    </header>
                    <p>
                        Meaning: {{ category.meaning }}
                    </p>
                    <p>
                        {% if category.quotes is not empty %}
                            Quote(s):
                            {% for quote in category.quotes%}
                                <br><a href="{{ path('quote_view', {id: quote.id}) }}">  {{ quote.verse  }} </a>(Etymology:{{ quote.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if category.actors is not empty %}
                            Actors:
                            {% for actor in category.actors%}
                                <br><a href="{{ path('actor_view', {id: actor.id}) }}">  {{ actor.id  }} </a>{{ actor.summary }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if category.events is not empty %}
                            Event:
                            {% for event in category.events%}
                                <br> <a href="{{ path('event_view', {id: event.id}) }}">  {{ event.name  }} </a>{{ event.summary }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if category.symbols is not empty %}
                            Symbols:
                            {% for symbol in category.symbols%}
                                <br><a href="{{ path('symbol_view', {id: symbol.id}) }}">  {{ symbol.name  }} </a>{{ symbol.summary }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% if(category.image) %}
                        <img src="{{ asset('uploads/images/' ~ quote.image) }}" width="400" height="200" >
                    {% endif %}
                    {% if app.getUser().getId==category.author.id or app.getUser().isAdmin() %}

                    <p>
                        <div class="pull-right">
                            {#<a class="btn btn-danger btn-xs" href="{{ path('category_delete', {'id':category.id}) }}">delete &raquo;</a>#}
                            <a class="btn btn-success btn-xs" href="{{ path('category_edit', {'id':category.id}) }}">edit &raquo;</a>
                            {% endif %}
                    <p>
                    <div>
                        <a class="btn btn-default btn-xs"
                           href="{{ path('blog_index') }}">back &raquo;</a>
                    </div>
                    </p>
                    </footer>
                </article>
            </div>

            <hr />
        </div>
    </div>


{% endblock %}