{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Title: "{{ actor.title }}"</h2>
                    </header>
                    {#<p>#}
                        {#Place: {{ actor. }}#}
                    {#</p>#}
                    <p>
                        Meaning: {{ actor.meaning }}
                    </p>
                    <p>
                        {% if actor.quotes is not empty %}
                            Quote(s):
                            {% for quote in actor.quotes%}
                                <br><a href="{{ path('quote_view', {id: quote.id}) }}">  {{ quote.verse }} </a>(Description:{{ quote.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if related[0] is not null %}
                            Related Actors:
                            {% for i in 0..related.count-1 %}
                                <br> <a href="{{ path('actor_view', {id: related[i].id}) }}">  {{ related[i].title  }} </a>
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% if(actor.image) %}
                        <img src="{{ asset('uploads/images/' ~ actor.image) }}" width="400" height="200" >
                    {% endif %}
                    {% if app.getUser().getId==actor.author or app.getUser().isAdmin() %}

                    <p>
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="{{ path('actor_delete', {'id':actor.id}) }}">delete &raquo;</a>
                            <a class="btn btn-success btn-xs" href="{{ path('actor_edit', {'id':actor.id}) }}">edit &raquo;</a>
                            {% endif %}
                    <p>
                    <div>
                        <a class="btn btn-default btn-xs"
                           href="{{ path('blog_index') }}">back &raquo;</a>
                    </div>
                    </p>
                    </footer>
                </article>
            </div>

            <hr />
        </div>
    </div>


{% endblock %}