{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            {% for quote in quotes %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <h2>" {{ quote.verse }}"</h2>
                        </header>

                        <p>
                             {{ quote.place }}
                        </p>
                        {% if(quote.image) %}
                        <img src="{{ asset('uploads/images/' ~ quote.image) }}" width="400" height="200" >
                        {% endif %}
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('quote_view', {'id': quote.id}) }}">Read more &raquo;</a>
                            </div>
                            {#<div class="pull-right">#}
                                {#<a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id':quote.id}) }}">delete &raquo;</a>#}
                                {#<a class="btn btn-success btn-xs" href="{{ path('article_edit', {'id':quote.id}) }}">edit &raquo;</a>#}
                                {#<a class="btn btn-default btn-xs"#}
                                   {#href="{{ path('blog_index') }}">back &raquo;</a>#}
                            {#</div>#}
                        </footer>
                    </article>
                </div>

                <hr />

            {% endfor %}
        </div>
    </div>



{% endblock %}
