{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Verse: "{{ quote.verse }}"</h2>
                    </header>

                    <p>
                        Place: {{ quote.place }}
                    </p>
                    <p>
                        Meaning: {{ quote.meaning }}
                    </p>
                    <p>
                        {% if quote.actors is not empty %}
                            Actors:
                            {% for actor in quote.actors%}
                                <br><a href="{{ path('actor_view', {id: actor.id}) }}">  {{ actor.title  }} </a>(Etymology:{{ actor.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if quote.categories is not empty %}
                            Category(ies):
                            {% for cat in quote.categories%}
                                <br><a href="{{ path('category_view', {id: cat.id}) }}">  {{ cat.title }} </a>({{ cat.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if quote.events is not empty %}
                            Event(s):
                            {% for event in quote.events%}
                                <br><a href="{{ path('event_view', {id: event.id}) }}">  {{ event.title }} </a>({{ event.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if quote.symbols is not empty %}
                            Category(ies):
                            {% for symbol in quote.symbols%}
                                <br><a href="{{ path('symbol_view', {id: symbol.id}) }}">  {{ symbol.name}} </a>({{ symbol.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if quote.relatedQuotes is not empty %}
                            Related Quotes:
                            {% for related in quote.relatedQuotes%}
                                <br> <a href="{{ path('quote_view', {id: related.id}) }}">  {{ related.verse  }} </a>({{ related.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% if(quote.image) %}
                        <img src="{{ asset('uploads/images/' ~ quote.image) }}" width="400" height="200" >
                    {% endif %}
                    {% if app.getUser().getId==quote.author.id or app.getUser().isAdmin() %}

                    <p>
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="{{ path('quote_delete', {'id':quote.id}) }}">delete &raquo;</a>
                            <a class="btn btn-success btn-xs" href="{{ path('quote_edit', {'id':quote.id}) }}">edit &raquo;</a>
                            {% endif %}
                    <p>
                    <div>
                        <a class="btn btn-default btn-xs"
                           href="{{ path('blog_index') }}">back &raquo;</a>
                    </div>
                    </p>
                    </footer>
                </article>
            </div>

            <hr />
        </div>
    </div>


{% endblock %}