{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Event: "{{ event.title }}"</h2>
                    </header>
                    <p>
                        Meaning: {{ event.meaning }}
                    </p>
                    <p>
                        {% if event.quotes is not empty %}
                            Quote(s):
                            {% for quote in event.quotes%}
                                <br> <a href="{{ path('quote_view', {id: quote.id}) }}">  {{ quote.verse  }} </a>({{ quote.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if event.actors is not empty %}
                            Actor(s):
                            {% for actor in event.actors%}
                                <br><a href="{{ path('actor_view', {id: actor.id}) }}">  {{ actor.title  }} </a>(Etymology:({{ actor.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if event.categories is not empty %}
                            Category(ies):
                            {% for cat in event.categories%}
                                <br><a href="{{ path('category_view', {id: cat.id}) }}">  {{ cat.title   }} </a>({{ cat.summary }}(
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if event.symbols is not empty %}
                            Symbol(s):
                            {% for symbol in event.symbols%}
                                <br><a href="{{ path('symbol_view', {id: symbol.id}) }}">  {{ symbol.name   }} </a>({{ symbol.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if event.relatedEvents is not empty %}
                            Related Event(s):
                            {% for related in event.relatedEvents%}
                                <br><a href="{{ path('event_view', {id: related.id}) }}">  {{ related.title  }} </a>({{ related.summary }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% if(event.image) %}
                        <img src="{{ asset('uploads/images/' ~ event.image) }}" width="400" height="200" >
                    {% endif %}
                    {% if app.getUser().getId==event.author.id or app.getUser().isAdmin() %}

                    <p>
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="{{ path('event_delete', {'id':event.id}) }}">delete &raquo;</a>
                            <a class="btn btn-success btn-xs" href="{{ path('event_edit', {'id':event.id}) }}">edit &raquo;</a>
                            {% endif %}
                    <p>
                    <div>
                        <a class="btn btn-default btn-xs"
                           href="{{ path('blog_index') }}">back &raquo;</a>
                    </div>
                    </p>
                    </footer>
                </article>
            </div>

            <hr />
        </div>
    </div>


{% endblock %}