{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Name: "{{ symbol.name }}"</h2>
                    </header>
                    <p>
                        Meaning: {{ symbol.meaning }}
                    </p>
                    <p>

                        {% if symbol.quotes is not empty %}
                            Quotes:
                            {% for quote in symbol.quotes%}
                                <br><a href="{{ path('quote_view', {id: quote.id}) }}">  {{ quote.verse  }} </a>({{ quote.summary  }})
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>

                        {% if symbol.actors is not empty %}
                            Actors:
                            {% for actor in symbol.actors%}
                                <br><a href="{{ path('actor_view', {id: actor.id}) }}">  {{ actor.title  }} </a>(Etymology:({{ actor.summary  }}))
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if symbol.categories is not empty %}
                            Category(ies):
                            {% for cat in symbol.categories%}
                                <br><a href="{{ path('category_view', {id: cat.id}) }}">  {{ cat.title }} </a>{{ cat.summary }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if symbol.categories is not empty %}
                            Event(s):
                            {% for event in symbol.events%}
                                <br><a href="{{ path('event_view', {id: event.id}) }}">  {{ event.title }} </a>{{ event.summary }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>
                        {% if symbol.relatedSymbols is not empty %}
                            Related Symbol(s):
                            {% for symbol in symbol.relatedSymbols%}
                                <br><a href="{{ path('symbol_view', {id: symbol.id}) }}">  {{ symbol.name }} </a>{{ symbol.summary }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% if(symbol.image) %}
                        <img src="{{ asset('uploads/images/' ~ symbol.image) }}" width="400" height="200" >
                    {% endif %}
                    {% if app.getUser().getId==symbol.author.id or app.getUser().isAdmin() %}

                    <p>
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="{{ path('symbol_delete', {'id':symbol.id}) }}">delete &raquo;</a>
                            <a class="btn btn-success btn-xs" href="{{ path('symbol_edit', {'id':symbol.id}) }}">edit &raquo;</a>
                            {% endif %}
                    <p>
                    <div>
                        <a class="btn btn-default btn-xs"
                           href="{{ path('blog_index') }}">back &raquo;</a>
                    </div>
                    </p>
                    </footer>
                </article>
            </div>

            <hr />
        </div>
    </div>


{% endblock %}