{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <img src="{{ asset('uploads/images/' ~ article.image) }}" width="400" height="200" >

                    <small class="author">
                        {{ article.author.fullName }}
                    </small>

                    <a href="{{ path('article_likes', {'id': article.id}) }}"><i class="glyphicon glyphicon-thumbs-up"></i></a>

                    <button class="btn btn-success btn-sm" id="btnComment">Add</button>

                    <div id="form">
                    </div>

                    {% for comment in comments %}
                        <p>{{ comment.content }}</p>
                        <small>{{ comment.dateAdded|date("F jS \\a\\t g:ia", 'Europe/Sofia') }}</small>
                        <small>{{ comment.author.fullName }}</small>
                        <hr />
                    {% endfor %}

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and  app.getUser().isAdmin()   %}
                                <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id':article.id}) }}">delete &raquo;</a>
                                <a class="btn btn-success btn-xs" href="{{ path('article_edit', {'id':article.id}) }}">edit &raquo;</a>
                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>



    <script>

        let form = $(`
            <form method="post" action="{{ path('add_comment', {'id': article.id}) }}">
                <div class="form-group">
                    <!--<label class="col-sm-4 control-label" for="article_content">Content</label>-->
                    <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="comment_content" name="comment[content]"></textarea>
                        <input class="btn btn-success btn-sm" type="submit" value="Create" />
                    </div>
                </div>
            </form>
        `);

        $('#btnComment').click(function (e) {
            // alert('hi');
            e.preventDefault();
            $('#form').append(form);
            $('#form').toggle();
        })
    </script>

{% endblock %}



